---
---

@import "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

#markdown-toc::before {
  content: "Table of Contents";
  font-weight: 600;
  font-size: 20px;
}

@media screen and (min-width: 800px) {
  .wrapper {
    /* max-width: calc(800px - (30px * 2)); */
    padding-right: 30px;
    padding-left: 30px;
  }
}

.wrapper {
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

#myBtn {
  display: block;
  position: fixed; /* Fixed/sticky position */
  bottom: 50px; /* Place the button at the bottom of the page */
  right: 50px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #FFFFFF; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  border-radius: 10px; /* Rounded corners */
  font-size: 36px; /* Increase font size */
}

#myBtn:hover {
  background-color: #EEEEEE; /* Add a dark-grey background on hover */
}