---
---

@import "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

#markdown-toc::before {
  content: "Table of Contents";
  font-weight: 600;
  font-size: 20px;
}

@media screen and (min-width: 800px) {
  .wrapper {
    /* max-width: calc(800px - (30px * 2)); */
    padding-right: 30px;
    padding-left: 30px;
  }
}

.wrapper {
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.myBtn {
  display: block;
  position: fixed; /* Fixed/sticky position */
  right: 50px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #ffffff; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  border-radius: 10px; /* Rounded corners */
  font-size: 36px; /* Increase font size */
}

.goUp {
  bottom: 100px; /* Place the button at the bottom of the page */
}

.goDown {
  bottom: 50px; /* Place the button at the bottom of the page */
}

img[alt="img-c"] {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img[alt="img-10"] {
  width: 10%;
}

img[alt="img-20"] {
  width: 20%;
}

img[alt="img-40"] {
  width: 40%;
}

img[alt="img-60"] {
  width: 60%;
}

img[alt="img-70"] {
  width: 70%;
}

img[alt="img-80"] {
  width: 80%;
}
