<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {%- include head.html -%}
  <body>
    {%- include header.html -%}
    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>
    {%- include footer.html -%}
    <button class="myBtn goUp" onclick="goUp()">⬆️</button>
    <button class="myBtn goDown" onclick="goDown()">⬇️</button>
  <script>
    function goUp() {
      document.body.scrollTop = 0; // For Safari
      document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
    }
    function goDown() {
      window.scrollTo(0,document.body.scrollHeight);
    }
  </script>
  </body>

</html>
